# remember to install ROCm version if using radeon!!!
# install requirements and then
# pip3 install torch==2.8.0 torchvision torchaudio --index-url https://download.pytorch.org/whl/rocm6.3
# the above needs python 3.11 apparently
ipywidgets==8.1.2
torch==2.8.0
pytest==8.2.2
tqdm==4.67.1
ipykernel==6.29.4
numpy==2.1.2
einops==0.8.0
transformers==4.56.2
# we need the 2.18.0 version of datasets since 2.19.0 doesn't support saving the 
# dataset to disk using a Path object 
# https://github.com/huggingface/datasets/pull/6704
datasets==2.18.0
tensorboard==2.20.0
ipywidgets==8.1.2
accelerate==1.10.0
matplotlib